@use "../../sass/colors" as color;
@use "../../sass/mixins" as mixin;

select {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 5rem;
  padding: 0.5rem;
  margin-right: 1rem;

  background-color: color.$darkgrey;
  color: white;

  border: none;
  border-radius: 0.9rem;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1rem;

  option {
    // @include mixin.centerStuff($jc: center, $ai: center);
    width: 5rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 1rem;
  }
  p {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 0.5rem;
    font-size: 1.05rem;
  }
}
