@mixin centerStuff($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin bookLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@mixin removeButton($font, $color) {
  border: none;
  background-color: transparent;
  font-family: $font;
  color: $color;
}

@mixin authorCard($height, $witdth) {
  height: $height;
  width: $witdth;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
