@use "../Routes/FavoriteBooks/FavoriteBooks.scss";
@use "../Routes/ReadBooks/ReadBooks.scss";
@use "../Routes/SearchResult/SearchResult.scss";
@use "../Components/BooksByGenre/BooksByGenre.scss";
@use "../Components/Button/Button.scss";
// @use "../Routes/";
// @use "../Routes/";
// @use "../Routes/";
@use "../Components/NavBar/NavBar.scss";
@use "../Components/SearchBar/SearchBar.scss";
@use "../Routes/HomePage/HomePage.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(46, 46, 46);
}
