@use "../../sass/mixins" as mixin;
@use "../../sass/colors" as color;

.searchResultSection {
  @include mixin.bookLayout;
  width: 70vw;
  height: 70vh;
  background-color: rgb(74, 74, 74);

  border-radius: 0.5rem;
  padding: 1rem;
  overflow-y: scroll;
  .searchedBookCardCont {
    height: 30rem;
    width: 20rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    .searchedBookCard {
      h1 {
        color: rgb(148, 96, 0);
      }
      img {
        width: 8rem;
        height: 11rem;
      }
    }
  }
}

// .outlet {
//   background-color: rgba(0, 0, 0, 0.281);
// }
