@use "../../sass/mixins" as mixin;

.booksByGenre {
  .sci-fi {
    color: white;
  }
  @include mixin.centerStuff(center, center);
  flex-direction: row;
  flex-wrap: wrap;

  width: 100vw;
  height: 100vh;
}

.outlet {
  width: 100vw;
  height: 100vh;
  background-color: rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6.5rem;
}
